<!-- accueil.component.html -->
<div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <h1 class="display-4">Bienvenue sur notre site</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula felis vitae metus fermentum, vel efficitur lorem posuere. Integer laoreet risus non venenatis tincidunt.</p>
        <a routerLink="/inscription" class="btn btn-primary btn-lg">S'inscrire maintenant</a>
      </div>
    </div>
  </div>
  


